Welcome to MakersBnB!

<form action="/sign_up" method="post">
  <label for="name" type='text' value='name'></label>
  <input type="text" name='name' placeholder='Name'>
  <label for="email" type='text' value='email'></label>
  <input type="text" name='email' placeholder='Email'>
  <label for="password" type='text' value='password'></label>
  <input type="password" name='password' placeholder='Password'>
  <input type="submit" value='Submit'>
</form>
<%= flash[:warning] %>

<form action='/log_in' method='get'>
  <input type='submit' value='Log in'>
</form>
