<form action="/session/new" method="post">
  <label for="email" type='text' value='email'></label>
  <input type="text" name='email' placeholder='Email'>
  <label for="password" type='text' value='password'></label>
  <input type="password" name='password' placeholder='Password'>
  <input type="submit" value='Submit'>
</form>

<%= flash[:warning] %>
