<%= erb :'partials/head' %>
<%= erb :'partials/nav_bar' %>
<h1 id='user_home_title' class='title_text'>Welcome <%= @current_user.name %></h1>
<h2 id='user_home_text'>Please select from an option above.</h2>
