<h1>List a space</h1>
<form action="/postings">
  <label>Title</label>
  <input type='text' placeholder='Title'>
  <label>Description</label>
  <input type="text" placeholder="Description">
  <label>Price per night (£)</label>
  <input type="text"></input>
  <label>Available from (DD/MM/YY)</label>
  <input type="text"></input>
  <label>Available to (DD/MM/YY)</label>
  <input type="text"></input>
  <input type="submit" value="Submit">
</form>
