<%= erb :'partials/head' %>
<%= erb :'partials/nav_bar' %>
<h1 class='listing_pages_title_text'>List a space</h1>
<br><br>
<form action="/postings/save_new" method="post">
  <label class='new_listing_label'>Title</label>
  <input class='new_listing_input' type='text' name='title' placeholder='Title'><br>
  <label class='new_listing_label'>Description</label>
  <input class='new_listing_input' type="text"  name='description' placeholder="Description"><br>
  <label class='new_listing_label'>Price per night (£)</label>
  <input class='new_listing_input' type="text" name='price'><br>
  <label class='new_listing_label'>Date Available From:</label>
  <input class='new_listing_input' type="date" name="date_from" value="2018-11-06"><br>
  <label class='new_listing_label'>Date Available To:</label>
  <input class='new_listing_input' type="date" name="date_to" value="2018-11-07"><br><br>
  <input id='new_listing_submit' class='custom_button' type="submit" value="Submit">
</form>
