<h1>List a space</h1>
<form action="/postings/save_new" method="post">
  <label>Title</label>
  <input type='text' name='title' placeholder='Title'>
  <label>Description</label>
  <input type="text"  name='description' placeholder="Description">
  <label>Price per night (£)</label>
  <input type="text" name='price' ></input>
  <label>Date Available</label>
  <input type="date" value="2018-11-06">
  <input type="submit" value="Submit">
</form>
